<div class="row justify-content-center">
  <div class="col-4">
    <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
      <div class="form-outline m-4">
        <input class="form-control" type="login" id="loginName" name="login" [(ngModel)]="login"/>
        <label class="form-label" for="loginName">Nom Utilisateur</label>
      </div>


      <div class="form-outline m-4">
        <input class="form-control" type="password" id="loginPassword" name="password" [(ngModel)]="password"/>
        <label class="form-label" for="loginPassword">Mot de passe</label>
      </div>
      <button type="submit" class=" btn btn-primary btn-block mb-4" >Se Connecter</button>

    </form>
  </div>
</div>

