<div class="raw justify-content-center">
  <div class="col-4">
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Réponses du Backend</h5>
              <p class="card-text">Content:</p>
              <ul>
                <!--permet de parcourrir toute la liste de la bd et affiche le contenu c'est comme un foreach-->
                <li *ngFor="let line of data">{{line}}</li>
              </ul>
            </div>
        </div>
  </div>
</div>
